*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  background: linear-gradient(to left,
      rgba(7, 27, 82, 1) 0%,
      rgba(0, 128, 128, 1) 100%);
  text-align: center;
}
